// Compass
@import "compass";

// CSS normalize.css reset
@import "basic/normalize";

// Basic mixins
@import "basic/mixins";

// Form Components
@import "form-components/theme";		// Theme
@import "form-components/all";			// All components

html, body {
	background: #ddd;
	font-size: $defFontSize;
}

section {
	width: 70%;
	min-width: 600px;
	margin: 50px auto;
}