//--------------------------------------------------------------
// FormComponents Theme - Default
// Author: Aaron Chuo
// Fork: http://aaronchuo.github.io/FormComponents/
//--------------------------------------------------------------

//Font size
$defFontSize: 16px;

//Colors
$mainColor: #4ca9ff;
$minorColor: #aaa;
$grayColor: #ccc;
$lightColor: #eee;
$hoverColor: #f3f3f3;
$basicColor: #fff;